body{
    color: brown;
    font-family: monospace;
    text-align: center;
}

.main__titulo{
    width: 90%;
    margin: 0 auto;
    background-color: darkgrey;
    padding-top: 10px;
}
.main__titulo p{
     color: darkmagenta;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}