body{
    color: brown;
    font-family: arial;
    text-align: center;
}

.main__titulo{
    width: 90%;
    margin: 0 auto;
    background-color: darkgrey;
    padding-top: 10px;
}
.main__titulo p{
     color: darkmagenta;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
header{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 50px;
    background-color:hsla(197, 51%, 28%, 0.425);
 /*   box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.87); */
}